.step-container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: right;
    flex-shrink: 1;
    min-width: 0;
}

@media (min-width: 768px) {
    .step-container {
        flex-direction: row;
        text-align: center;
    }
}

.step-line {
    width: 50px;
    height: 2px;
    margin-top: 5px;
    flex-shrink: 0;
}

.step-label {
    word-break: break-word;
    overflow-wrap: break-word;
    font-size: 0.875rem;
    font-weight: bold;
}

.step-label.active {
    color: blue;
}

